@font-face {
    font-family: snap;
    src: url(Fonts/Snap_ITC.woff);
}
html { min-height: 100%; }
body {
    user-select: none;
    min-height: 100%;
    background: linear-gradient(#eeeecc, #3333ff);
    color: #eeee44;
    margin: 0;
}
.defw { width: 600px; }
#canvas {
    background-color: black;
    margin: auto;
    display: none;
}
#game {
    background-color: black;
    height: 400px;
    margin: auto;
}
h1,h2,li { text-align: center;}
ul {
    list-style: none;
    position: relative;
    left: -15px;
}
#hs-panel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: transparent;
}
table { width: 100%; }
tr { font-size: 32px;}
td[id^="hs-n"] {
    position: relative;
    left: 30px;
}
td[id^="hs-s"] {
    position: relative;
    right: 30px;
    text-align: right;
}
#hs-dlg {
    width: 80%;
    margin: 10px auto;
    display:none;
}
.hs-title { text-shadow: 5px 5px 5px #333; }
input {
    color: #3333aa;
    background-color: #fffff0;
    font-size: 200%;
    border: 1px solid white;
    border-radius: 2px;
    max-width: 100%;
}
#btn-submit {
    height: 42px;
    background-color: #4444ff;
    float:right;
    margin-right: 0px;
}
button {
    border-radius: 5px;
    font-size: 100%;
    background-color: #4455ff;
    color: #eeee44;
}
#btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
h1 {
    color: #4455ff;
    font-family: snap;
    font-size: 56px;
    margin-top: 0;
    margin-bottom: 10px;
}
h2 {
    color: #22dd11;
    font-size: 36px;
    margin-bottom: 10px;
}
h3 {
    font-size: 32px;
    margin: 15px auto;
    text-align: center;
}
li { margin: 7px; }
@media only screen and (max-width: 600px) {
    canvas, #game, #hs-panel {
        max-width: 100%;
    }
    #hs-dlg, input { width: 100%; }
    #btn-submit {
         float: none;
         display: block;
         width: 100%; 
         margin-top: 7px;
    }
    .hs-title { font-size: 38px; }
}
